USE RestApiDapper2
GO
/****** Object:  StoredProcedure [dbo].[Role_GetAll]    Script Date: 12/22/2024 8:09:56 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC Role_GetAll
as
begin
	SET NOCOUNT ON;

	BEGIN TRY
		-- CODE -- 
		SELECT [Id]
		  ,[Name]
		  ,[NormalizedName]
		  ,[ConcurrencyStamp]
		FROM [dbo].[AspNetRoles]
	END TRY
	--
	BEGIN CATCH
		SELECT 
        ERROR_MESSAGE() AS ErrorMessage, 
        ERROR_SEVERITY() AS ErrorSeverity, 
        ERROR_STATE() AS ErrorState;
	END CATCH
end